html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    /*white-space: nowrap;*/
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav > li > form {
    padding: 8px;
}

@media(max-width:768px) {
	.nav li > form {
	    padding: 3px;
	}
}

.nav > li > form > button:hover {
    text-decoration: none;
}

/*#exTab1 .tab-content {*/
    /*color : white;*/
    /*!*background-color: #428bca;*!*/
    /*padding : 5px 15px;*/
/*}*/

/*#exTab2 h3 {*/
    /*!*color : white;*!*/
    /*!*background-color: #428bca;*!*/
    /*padding : 5px 15px;*/
/*}*/

/*!* remove border radius for the tab *!*/

/*#exTab1 .nav-pills > li > a {*/
    /*border-radius: 0;*/
/*}*/

/* change border radius for the tab , apply corners on top*/

/*#exTab3 .nav-pills > li > a {*/
    /*border-radius: 4px 4px 0 0 ;*/
/*}*/

/*#exTab3 .tab-content {*/
    /*!*color : white;*!*/
    /*!*background-color: #428bca;*!*/
    /*padding : 5px 15px;*/
/*}*/

/* Tree style */

ul.category-products {
    padding-left: 3px;
    /*padding-right: 5px;*/
    list-style-type: none;
}

.category-products ul {
    padding-left: 20px;
    list-style-type: none;
}

.category-products li {
    padding: 5px 0 5px 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.category-products a{
    color: #000000;
    margin-left: 5px;
}

.category-products .panel {
    background-color: #FFFFFF;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
}

.category-products .panel-default .panel-heading {
    background-color: #FFFFFF;
    border: 0 none;
    color: #FFFFFF;
    padding: 5px 20px;
}

.category-products .panel-default .panel-heading .panel-title a {
    color: #696763;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
    border-top: 0 none;
}

.category-products .panel-default .badge {
    background: none;
    border-radius: 10px;
    color: #696763;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    min-width: 10px;
    padding: 3px 7px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.list-accor a:hover {
    color: #5394cc !important;
    text-decoration: none;
}



button {outline: none;}
.block-tree .text {
    display: block;
    width: 300px;
    min-height: 300px;
    border: 1px solid black;
    padding: 5px;
    margin-top: 5px;
    outline: none;
    overflow: hidden;
}
.text:focus, button:focus ~ .text {height: auto;}

.block-tree-pointer {
    cursor: pointer;
}

.block-tree span:hover, span:focus {
    color: red;
}

#category-view {
    color: #5394cc !important;
    padding: 30px 30px 20px 30px;
}

.block-tree-pointer .list-group-item .active {
    background: #5394cc !important;
    padding: 0 0 0 0;
    border-radius: 5px;
}

.list-accor > span.active {
    color: #fedb8a !important;
}
/* End tree style */